In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
from urllib.request import urlretrieve
from pandas.tseries.holiday import AbstractHolidayCalendar, Holiday
from pandas.tseries.offsets import CustomBusinessDay
from openpyxl import Workbook
import time
import xlrd
from datetime import datetime, timedelta, date

In [2]:
'''
Neste projeto pretende-se realizar o calculo das médias para 1 mês (20 dias), 1 ano (252 dias) e 5 anos (1260 dias) das debêntures já listada no banco de dados pbi_plot_debentures.
Assim, deve-se encontrar a maior data no banco de dados, para então se basear neste valor.
'''

'\nNeste projeto pretende-se realizar o calculo das médias para 1 mês (20 dias), 1 ano (252 dias) e 5 anos (1260 dias) das debêntures já listada no banco de dados pbi_plot_debentures.\nAssim, deve-se encontrar a maior data no banco de dados, para então se basear neste valor.\n'

In [3]:
engine = create_engine('postgresql://postgres:admin@192.168.88.61:5432/yield_debentures')

In [4]:
dados = pd.read_sql("SELECT grupo, codigo_ativo, data_referencia, emissor, taxa_indicativa, spread_empresa, duration_round, duration FROM pbi_spread_plot",engine)
dados

,grupo,codigo_ativo,data_referencia,emissor,taxa_indicativa,spread_empresa,duration_round,duration
0,DI SPREAD,AALM11,2022-06-09,AURA ALMAS MINERACAO S.A. (*),2.8990,NaN,NaN,510.0
1,DI SPREAD,AALM11,2022-03-28,--,3.0107,NaN,NaN,566.0
2,DI SPREAD,AALM11,2022-03-30,AURA ALMAS MINERACAO S.A. (*),2.9836,NaN,NaN,563.0
3,DI SPREAD,AALM11,2022-04-04,AURA ALMAS MINERACAO S.A. (*),2.9780,NaN,NaN,562.0
4,DI SPREAD,AALM11,2022-04-06,AURA ALMAS MINERACAO S.A. (*),2.9769,NaN,NaN,559.0
...,...,...,...,...,...,...,...,...
1077407,DI SPREAD,YDUQA0,2025-02-14,YDUQS PARTICIPACOES S.A (*),0.8953,NaN,NaN,700.0
1077408,DI SPREAD,YDUQA0,2025-02-17,YDUQS PARTICIPACOES S.A (*),0.8922,NaN,NaN,701.0
1077409,DI SPREAD,YDUQA0,2025-02-18,YDUQS PARTICIPACOES S.A (*),0.8910,NaN,NaN,700.0
1077410,DI SPREAD,YDUQA0,2025-02-19,YDUQS PARTICIPACOES S.A (*),0.8811,NaN,NaN,698.0
1077411,DI SPREAD,YDUQA0,2025-02-20,YDUQS PARTICIPACOES S.A (*),0.8851,NaN,NaN,698.0

In [5]:
dados['duration_round'].fillna(np.ceil(dados['duration'] / 100) * 100, inplace=True)

dados.head(100)

C:\Users\GabrielMariano\AppData\Local\Temp\ipykernel_68624\2307025922.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dados['duration_round'].fillna(np.ceil(dados['duration'] / 100) * 100, inplace=True)

,grupo,codigo_ativo,data_referencia,emissor,taxa_indicativa,spread_empresa,duration_round,duration
0,DI SPREAD,AALM11,2022-06-09,AURA ALMAS MINERACAO S.A. (*),2.8990,NaN,600.0,510.0
1,DI SPREAD,AALM11,2022-03-28,--,3.0107,NaN,600.0,566.0
2,DI SPREAD,AALM11,2022-03-30,AURA ALMAS MINERACAO S.A. (*),2.9836,NaN,600.0,563.0
3,DI SPREAD,AALM11,2022-04-04,AURA ALMAS MINERACAO S.A. (*),2.9780,NaN,600.0,562.0
4,DI SPREAD,AALM11,2022-04-06,AURA ALMAS MINERACAO S.A. (*),2.9769,NaN,600.0,559.0
...,...,...,...,...,...,...,...,...
95,DI SPREAD,AALM11,2023-01-27,AURA ALMAS MINERACAO S.A. (*),3.0172,NaN,500.0,418.0
96,DI SPREAD,AALM11,2023-01-30,AURA ALMAS MINERACAO S.A. (*),2.9740,NaN,500.0,417.0
97,DI SPREAD,AALM11,2023-04-13,AURA ALMAS MINERACAO S.A. (*),3.4890,NaN,400.0,368.0
98,DI SPREAD,AALM11,2023-04-18,AURA ALMAS MINERACAO S.A. (*),3.4830,NaN,400.0,364.0
99,DI SPREAD,AALM11,2023-04-24,AURA ALMAS MINERACAO S.A. (*),3.5157,NaN,400.0,361.0

In [6]:
teste = dados#.head(100)
# teste

In [7]:
data_atual = pd.read_sql("SELECT MAX(data_referencia) AS max_date FROM dados_debenture;", engine)

data_atual = data_atual['max_date'][0]

type(data_atual)

str

In [8]:

# Pega feriados nacionais pelo calendário da Anbima
def holidays(url=None, path=None):
    if not url:
        url = 'http://www.anbima.com.br/feriados/arqs/feriados_nacionais.xls'
    if not path:
        path = 'feriados_nacionais.xls'
    try:
        wb = xlrd.open_workbook(path)
    except:
        response = urlretrieve(url, filename=path)
        wb = xlrd.open_workbook(path)
    ws = wb.sheet_by_index(0)
    i = 1
    dates = []
    while ws.cell_type(i, 0) == 3:
        y, m, d, _, _, _ = xlrd.xldate_as_tuple(
            ws.cell_value(i, 0), wb.datemode)
        dates.append(date(y, m, d))
        i += 1
    return dates

# Cria calendário de feriados nacionais


class CustomBusinessCalendar(AbstractHolidayCalendar):
    rules = [Holiday('Brazil Holiday', month=date.month,
                     day=date.day, year=date.year) for date in holidays()]


def get_busdays(start_date, end_date):
    # Cria calendário de dias úteis
    custom_business_day = CustomBusinessDay(calendar=CustomBusinessCalendar())
    dates = pd.bdate_range(start=start_date, end=end_date,
                           freq=custom_business_day)
    return len(dates)

In [9]:
from datetime import datetime
from dateutil.relativedelta import relativedelta
 
# today = data_atual #datetime.today().date()
today = datetime.strptime(data_atual, "%Y-%m-%d").date()
today_1m = today - relativedelta(months=1)
today_1y = today - relativedelta(years=1)
today_5y = today - relativedelta(years=5)

In [10]:
mensal = teste[pd.Timestamp(teste['data_referencia']) <= today_1m]

TypeError: Cannot convert input [0          2022-06-09
1          2022-03-28
2          2022-03-30
3          2022-04-04
4          2022-04-06
              ...
1077407    2025-02-14
1077408    2025-02-17
1077409    2025-02-18
1077410    2025-02-19
1077411    2025-02-20
Name: data_referencia, Length: 1077412, dtype: object] of type <class 'pandas.core.series.Series'> to Timestamp

In [11]:
teste['data_referencia'] = pd.to_datetime(teste['data_referencia'], errors='coerce')
mensal = teste[teste['data_referencia'] >= pd.Timestamp(today_1m)]
anual = teste[teste['data_referencia'] >= pd.Timestamp(today_1y)]
quinquenal = teste[teste['data_referencia'] >= pd.Timestamp(today_5y)]

In [12]:
mensal['mensal'] = 1
anual['anual'] = 1
quinquenal['quinquenal'] = 1

C:\Users\GabrielMariano\AppData\Local\Temp\ipykernel_68624\2018564411.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mensal['mensal'] = 1
C:\Users\GabrielMariano\AppData\Local\Temp\ipykernel_68624\2018564411.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  anual['anual'] = 1
C:\Users\GabrielMariano\AppData\Local\Temp\ipykernel_68624\2018564411.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quinquenal['quinquenal'] = 1

In [58]:
quinquenal

,grupo,codigo_ativo,data_referencia,emissor,taxa_indicativa,spread_empresa,duration_round,duration,quinquenal
0,DI SPREAD,AALM11,2022-06-09,AURA ALMAS MINERACAO S.A. (*),2.8990,NaN,600.0,510.0,1
1,DI SPREAD,AALM11,2022-03-28,--,3.0107,NaN,600.0,566.0,1
2,DI SPREAD,AALM11,2022-03-30,AURA ALMAS MINERACAO S.A. (*),2.9836,NaN,600.0,563.0,1
3,DI SPREAD,AALM11,2022-04-04,AURA ALMAS MINERACAO S.A. (*),2.9780,NaN,600.0,562.0,1
4,DI SPREAD,AALM11,2022-04-06,AURA ALMAS MINERACAO S.A. (*),2.9769,NaN,600.0,559.0,1
...,...,...,...,...,...,...,...,...,...
1077407,DI SPREAD,YDUQA0,2025-02-14,YDUQS PARTICIPACOES S.A (*),0.8953,NaN,700.0,700.0,1
1077408,DI SPREAD,YDUQA0,2025-02-17,YDUQS PARTICIPACOES S.A (*),0.8922,NaN,800.0,701.0,1
1077409,DI SPREAD,YDUQA0,2025-02-18,YDUQS PARTICIPACOES S.A (*),0.8910,NaN,700.0,700.0,1
1077410,DI SPREAD,YDUQA0,2025-02-19,YDUQS PARTICIPACOES S.A (*),0.8811,NaN,700.0,698.0,1
1077411,DI SPREAD,YDUQA0,2025-02-20,YDUQS PARTICIPACOES S.A (*),0.8851,NaN,700.0,698.0,1

In [17]:
dados = pd.concat([mensal, anual, quinquenal], ignore_index=True)

In [14]:
dados

,grupo,codigo_ativo,data_referencia,emissor,taxa_indicativa,spread_empresa,duration_round,duration,mensal,anual,quinquenal
0,DI SPREAD,AALM12,2025-02-24,AURA ALMAS MINERACAO S.A. (*),1.4819,NaN,800.0,753.0,1.0,NaN,NaN
1,DI SPREAD,AALR13,2025-02-24,CENTRO DE IMAGEM DIAGNOSTICOS S/A (*) (**),12.7653,NaN,400.0,323.0,1.0,NaN,NaN
2,IPCA SPREAD,ACRC21,2025-02-24,ATLAS LUIZ CARLOS COMERCIALIZADORA DE ENERGIA ...,8.3997,1.095431,2000.0,1998.0,1.0,NaN,NaN
3,IPCA SPREAD,AEAB11,2025-02-24,AES CAJUINA AB1 HOLDINGS S.A. (*),8.3876,1.094092,2000.0,1974.0,1.0,NaN,NaN
4,DI SPREAD,AEGE16,2025-02-24,EQUIPAV SANEAMENTO S.A. (*) (**),3.1537,NaN,1000.0,974.0,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1168299,DI SPREAD,YDUQA0,2025-02-14,YDUQS PARTICIPACOES S.A (*),0.8953,NaN,700.0,700.0,NaN,NaN,1.0
1168300,DI SPREAD,YDUQA0,2025-02-17,YDUQS PARTICIPACOES S.A (*),0.8922,NaN,800.0,701.0,NaN,NaN,1.0
1168301,DI SPREAD,YDUQA0,2025-02-18,YDUQS PARTICIPACOES S.A (*),0.8910,NaN,700.0,700.0,NaN,NaN,1.0
1168302,DI SPREAD,YDUQA0,2025-02-19,YDUQS PARTICIPACOES S.A (*),0.8811,NaN,700.0,698.0,NaN,NaN,1.0
1168303,DI SPREAD,YDUQA0,2025-02-20,YDUQS PARTICIPACOES S.A (*),0.8851,NaN,700.0,698.0,NaN,NaN,1.0

In [18]:
dados['data_referencia'].astype(str)
dados.to_sql(name='pbi_plot_medias', con=engine, if_exists='replace', index=False)

304

In [19]:
print(dados)

               grupo codigo_ativo data_referencia  \
0          DI SPREAD       AALM12      2025-02-24
1          DI SPREAD       AALR13      2025-02-24
2        IPCA SPREAD       ACRC21      2025-02-24
3        IPCA SPREAD       AEAB11      2025-02-24
4          DI SPREAD       AEGE16      2025-02-24
...              ...          ...             ...
1168299    DI SPREAD       YDUQA0      2025-02-14
1168300    DI SPREAD       YDUQA0      2025-02-17
1168301    DI SPREAD       YDUQA0      2025-02-18
1168302    DI SPREAD       YDUQA0      2025-02-19
1168303    DI SPREAD       YDUQA0      2025-02-20

                                                   emissor  taxa_indicativa  \
0                            AURA ALMAS MINERACAO S.A. (*)           1.4819
1               CENTRO DE IMAGEM DIAGNOSTICOS S/A (*) (**)          12.7653
2        ATLAS LUIZ CARLOS COMERCIALIZADORA DE ENERGIA ...           8.3997
3                        AES CAJUINA AB1 HOLDINGS S.A. (*)           8.3876
4                         EQUIPAV SANEAMENTO S.A. (*) (**)           3.1537
...                                                    ...              ...
1168299                        YDUQS PARTICIPACOES S.A (*)           0.8953
1168300                        YDUQS PARTICIPACOES S.A (*)           0.8922
1168301                        YDUQS PARTICIPACOES S.A (*)           0.8910
1168302                        YDUQS PARTICIPACOES S.A (*)           0.8811
1168303                        YDUQS PARTICIPACOES S.A (*)           0.8851

         spread_empresa  duration_round  duration  mensal  anual  quinquenal
0                   NaN           800.0     753.0     1.0    NaN         NaN
1                   NaN           400.0     323.0     1.0    NaN         NaN
2              1.095431          2000.0    1998.0     1.0    NaN         NaN
3              1.094092          2000.0    1974.0     1.0    NaN         NaN
4                   NaN          1000.0     974.0     1.0    NaN         NaN
...                 ...             ...       ...     ...    ...         ...
1168299             NaN           700.0     700.0     NaN    NaN         1.0
1168300             NaN           800.0     701.0     NaN    NaN         1.0
1168301             NaN           700.0     700.0     NaN    NaN         1.0
1168302             NaN           700.0     698.0     NaN    NaN         1.0
1168303             NaN           700.0     698.0     NaN    NaN         1.0

[1168304 rows x 11 columns]